#calc-screen {
  width: 100%;
  height: 35%;
  background-color: #efefef;
  text-align: right;
  border-bottom: 2px solid #00CCFF;
}
#calc-screen p {
  padding-top: 15px;
  padding-right: 15px;
  margin: 0;
}
